@media screen and (max-width: 700px) {
  body {
    padding: 40px 0;
  }
  .container {
    width: 85%;

    section {
      padding: $padding-mobile;
    }

    .top {
      h1 {
        font-size: 1rem;
      }
    }

    .bottom {
      flex-direction: column; 
    }
  }
}
