@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:300,600,700&display=swap');
$blue: hsl(223, 87%, 63%);
$pale-blue: hsl(223, 100%, 88%);
$light-red: hsl(354, 100%, 66%);
$gray: hsl(0, 0%, 59%);
$dark-blue: hsl(209, 33%, 12%);

$font-family: 'Libre Fraknlin', sans-serif;
