@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600&display=swap');
@import 'config';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: $bg-gradient;
  font-family: $font-stack;
}

.container {
  min-height: 100vh;
  display: flex;

  .hero {
    width: 45%;
    background-image: url('../images/hero-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .content {
    background-image: url('../images/bg-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem 18% 3rem 10%;
    width: 60%;

    .logo {
      height: 30px;
    }

    .mobile-hero {
      display: none;
    }

    .title {
      margin-top: 20%;
      text-transform: uppercase;
      letter-spacing: 1.2rem;
      color: $secondary-color;
      font-size: 1.8rem;
      font-weight: regular;

      span {
        color: $primary-color;
        font-weight: 300;
      }
    }

    p {
      color: $primary-color;
      margin: 2rem 0;
      line-height: 2rem;
    }
  }
}

form {
  .input-group {
    position: relative;

    input {
      border: 2px solid lighten($primary-color, 20);
      background-color: transparent;
      color: #000;
      display: block;
      width: 100%;
      border-radius: 25px;
      padding: 15px 20px;
      font-family: $font-stack;

      &:focus {
        outline: none;
        border: 2px solid $primary-color;
      }

      &::placeholder {
        color: lighten($primary-color, 10) !important;
      }
    }

    .submit-btn {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      border: 0;
      width: 75px;
      background-image: $btn-gradient;
      border-radius: 25px;
      box-shadow: 0 5px 15px lighten($primary-color, 10);

      &:hover {
        cursor: pointer;
        box-shadow: 0 10px 15px $primary-color;
        background-image: linear-gradient(
        	135deg,
        	#ffd3d3,
        	#ffd3d3
        );
      }

      &:active {
        transform: scale(.98);
      }

      &:focus {
        outline: none;
      }

      .icon-arrow {
        height: 16px;
      }
    }

    .icon-error {
      position: absolute;
      top: 50%;
      right: 88px;
      transform: translateY(-50%);
      height: 18px;
      display: none;
    }
  }

  &.error {
    input {
      border: 2px solid $error-color;
    }

    .icon-error {
      display: inline;
    }

    .error-text {
      display: block;
    }
  }

  .error-text {
    display: none;
    color: $error-color;
    font-size: 12px;
    margin: 10px 20px;
  }
}


@import 'media';
