@import 'config';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $body-font-family;
  font-weight: 400;
  font-size: 16px;
  min-height: 100vh;
  color: $dark-cyan;
}

h1,
h2 {
  font-family: $heading-font-family;
  font-weight: 700;
}

header {
  padding: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    height: 35px;
  }

  .header-btn {
    @extend %btn;
    padding: 10px 30px;
    font-size: 16px;
    background-color: transparent;
    color: $pink;
    border: 1px solid $pink;
    border-radius: 50px;

    &:hover {
      background-color: $pink;
      color: #fff;
    }
  }
}

.main {
  padding: 120px 10%;
  text-align: center;

  h1 {
    font-size: 45px;
  }

  .main-text {
    max-width: 580px;
    margin: 30px auto;
    font-size: 20px;
  }
}

.main-img {
  img {
    width: 95%;
  }
}

.main-data {
  display: flex;
  padding: 110px 0;

  .data {
    width: 50%;

    img {
      position: relative;
      left: -90px;
    }

    h1 {
      font-size: 90px;
    }

    p {
      margin: 0;
      color: #84898e;
      font-size: 25px;
    }
  }
}

.btn {
  @extend %btn;
  margin: 25px 0 100px;
  background-color: $pink;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 30px 0;
  width: 400px;
  border-radius: 50px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);

  &:hover {
    background-color: lighten($pink, 5);
  }
}

section {
  padding: 250px 10%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  position: relative;

  .text,
  .section-img {
    flex: 1;
  }

  .text {
    padding-left: 120px;

    h2 {
      font-size: 40px;
    }

    p {
      margin-top: 25px;
    }
  }

  img {
    width: 100%;
  }

  &.dark {
    padding: 0 10%;
    background-color: $pale-blue;
    flex-direction: row;

    .text {
      padding-right: 120px;
    }

    &::after {
      content: "";
      width: 100%;
      height: 150px;
      position: absolute;
      bottom: -150px;
      left: 0;
      z-index: 1;
      @extend %background;
    }

    &::before {
      content: "";
      width: 100%;
      height: 200px;
      position: absolute;
      top: -200px;
      left: 0;
      z-index: 1;
      @extend %background;
    }
  }

  &.dark:first-of-type {
    &::after {
      background-image: url(../images/bg-section-bottom-desktop-1.svg);
    }

    &::before {
      background-image: url(../images/bg-section-top-desktop-1.svg);
    }
  }

  &.dark:nth-of-type(3) {
    &::after {
      background-image: url(../images/bg-section-bottom-desktop-2.svg);
    }

    &::before {
      background-image: url(../images/bg-section-top-desktop-2.svg);
    }
  }
}

.main:last-child {
  padding: 300px 10%;
}

footer {
  padding: 80px 10%;
  position: relative;
  background-color: $dark-cyan;
  color: #fff;
  display: flex;
  justify-content: space-between;

  &::before {
    content: "";
    position: absolute;
    top: -200px;
    left: 0;
    width: 100%;
    height: 200px;
    background-image: url(../images/bg-footer-top-desktop.svg);
    @extend %background;
  }

  .left {
    width: 50%;

    .logo {
      display: flex;
      align-items: center;

      h1 {
        margin-left: 10px;
        font-size: 50px;
      }
    }

    p {
      margin: 10px 0 25px;
      @extend %p;
    }

    .info {
      padding: 0;
      display: flex;
      align-items: center;
      margin-top: 20px;

      div {
        margin-left: 20px;
        opacity: 0.7;
      }
    }

    .icons {
      font-size: 35px;
      margin-top: 75px;

      display: flex;

      .icon:not(:first-child) {
        margin-left: 25px;
      }

      .icon:hover {
        cursor: pointer;
        color: $pink;
      }
    }
  }

  .right {
    width: 40%;

    h3 {
      margin-top: 22px;
      text-transform: uppercase;
      font-size: 22px;
      font-weight: 600;
      letter-spacing: 2px;
    }

    p {
      margin: 20px 0 25px;
      @extend %p;
      width: 65%;
    }

    form {
      input {
        background-color: #fff;
        border: 0;
        height: 43px;
        width: 55%;
        border-radius: 5px;

        &:focus {
          outline: none;
        }
      }

      .submit-btn {
        @extend %btn;
        width: 30%;
        background-color: $pink;
        margin-left: 35px;
        height: 43px;
        border: 0;
        border-radius: 5px;
        color: #fff;
        font-size: 16px;
      }
    }
  }
}

@import 'mobile';
