@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');

$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);
$purple: hsl(248, 32%, 49%);
$dark-purple: hsl(249, 10%, 26%);
$grayish-purple: hsl(246, 25%, 77%);

$font-size: 16px;
$font-family: 'Poppins', sans-serif;
